@(offerForm: Form[models.Offer])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("Create Offer") {

<div class="container">
  <div class="well">
    <h3>Create Offer</h3>
    @form(routes.Offer.save(), 'class -> "form-horizontal") {
      @inputText(offerForm("offerId"), '_label -> "ID")
      @inputText(offerForm("condition"), '_label -> "Name", 'placeholder -> "New")
      @inputText(offerForm("price"), '_label -> "Price", 'placeholder -> "$30")
      @select(offerForm("studentEmail"), options = options(models.Student.getEmails()), '_default -> "Choose a Email", '_label -> "Student Email")
      @select(offerForm("bookName"), options = options(models.Book.getNames()), '_default -> "Choose a Name", '_label -> "Book Name")
      
      <div class="control-group">
        <div class="controls">    
          <input id="create" type="submit" value="Create" class="btn btn-primary"> 
          <a href="@routes.Application.index()" class="btn">Cancel</a> 
        </div>
      </div>
    }
  </div>
</div>  
}


